<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.other.mapper.CommodityWinnigMapper">
    <resultMap id="commodityWinnigMap" type="com.example.other.entity.CommodityWinnigEntity">
        <id column="id" property="id"/>
        <result property="userId" column="u_id"/>
        <result property="commodityId" column="c_id"/>
        <result property="address" column="address"/>
        <result property="platform" column="platform"/>
        <result property="number" column="number"/>
        <result property="status" column="status"/>
        <result property="gold" column="gold"/>
        <result property="statusC" column="status_c"/>
        <result property="creationTime" column="c_time"/>
        <result property="updateTime" column="u_time"/>
        <result property="name" column="name"/>
        <result property="tel" column="tel"/>
        <result property="userName" column="user_name"/>
        <result property="commodityIntro" column="commodity_intro"/>
        <result property="commodity" column="commodity"/>
        <result property="imgPath" column="img_path"/>
        <result property="price" column="price"/>
        <result property="goldP" column="gold_p"/>
        <result property="typeC" column="type_c"/>
    </resultMap>

    <select id="pageList" resultType="com.example.other.entity.CommodityWinnigEntity">
        SELECT
        b1.*,
        b3.commodity_intro,
        b3.commodity,
        b3.img_path,
        b3.price,
        b3.gold AS gold_p,
        b3.type_c,
        b2.user_name
        FROM
        `c_winning` b1
        LEFT JOIN `user` b2 ON b1.user_id = b2.id
        LEFT JOIN c_commodity b3 ON b1.commodity_id = b3.id
        <where>
            <if test="entity!=null and entity.userId!=null">
                b1.user_id= #{entity.userId}
            </if>
            <if test="entity!=null and entity.status!=null">
                b1.status = #{entity.status}
            </if>
            <if test="status!=null">
                b2.type = #{status}
            </if>
            <if test="entity!=null and entity.userName!=null">
                b2.user_name like concat('%',#{entity.userName},'%')
            </if>
            <if test="entity!=null and entity.id!=null">
                b1.id like concat('%',#{entity.id},'%')
            </if>
            <if test="entity!=null and entity.commodity!=null">
                b3.commodity like concat('%',#{entity.commodity},'%')
            </if>
            <if test="entity!=null and entity.platform!=null">
                b1.platform like concat('%',#{entity.platform},'%')
            </if>
            <if test="entity!=null and entity.name!=null">
                b1.name like concat('%',#{entity.name},'%')
            </if>
        </where>
    </select>
</mapper>